modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_APP_SCHEME = "pkk212"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVweHp6amFyZWZ2eWVyd3VpcGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyMzQ5MzksImV4cCI6MjA5OTgxMDkzOX0.wQhVjc5YX8QQmyuguBYSseQLKjhTEea9vhhfqovOF6o"
EXPO_PUBLIC_SUPABASE_URL = "https://epxzzjarefvyerwuipkq.supabase.co"
